{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST" action="{{ url_for('main.generate_flashcards') }}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {{ form.hidden_tag() }}
        <div class="field">
            <p>{{ form.topic.label }}</p>
            <p>{{ form.topic(class="input-text", size=50) }}</p>
            <p>{% for error in form.topic.errors %}
            <span class="text-red-500 text-xs">[{{ error }}]</span>
            {% endfor %}</p>
        </div>

        <div class="field">
            <p>{{ form.num_cards.label }}</p>
            <p>{{ form.num_cards(class="input-text", size=10) }}</p>
            <p>{% for error in form.num_cards.errors %}
            <span class="text-red-500 text-xs">[{{ error }}]</span>
            {% endfor %}</p>
        </div>

        <div class="field">
            <p>{{ form.generation_source.label }}</p>
            {% for subfield in form.generation_source %}
                <div class="flex items-center my-2">
                    {{ subfield(class="form-radio h-4 w-4 text-blue-600 border-gray-300 focus:ring-blue-500") }}
                    {{ subfield.label(class="ml-2 text-sm text-gray-700") }}
                </div>
            {% endfor %}
            <p>{% for error in form.generation_source.errors %}
            <span class="text-red-500 text-xs">[{{ error }}]</span>
            {% endfor %}</p>
        </div>

        <p>{{ form.submit(class = "form-submit") }}</p>
    </form>
{% endblock %}