{% extends "base.html" %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Welcome to FlashCard Hub</h1>
<h2 class="text-2xl font-bold mb-4"> FlashCard Hub is your modern study buddy!</h2>
<h3>Generate Question and Answer Flashcards for any topic.
    Flashcard Hub leverage the depth of Wikipedia and latest
    Generative AI Models to build study guides that truly help you build your knowledge.
</h3>

<div class="deck-grid">

    <div class="deck-item-card">
        <h2 class="font-semibold text-lg mb-2">New Users</h2>
        <p class="text-sm text-gray-400 mb-1"></p>
        <p class="text-sm text-gray-400 mb-3"></p>
        <div class="deck-actions">
            <a href="{{ url_for('main.register') }}" class="deck-action-btn">Join Here</a>
            <form method="POST" action="." class="delete-deck-form" style="margin: 0;">
                {{ form.hidden_tag() if form }}
            </form>
        </div>
    </div>
    <div class="deck-item-card">
        <h2 class="font-semibold text-lg mb-2">Returning Users</h2>
        <p class="text-sm text-gray-400 mb-1"></p>
        <p class="text-sm text-gray-400 mb-3"></p>
        <div class="deck-actions">
            <a href="{{ url_for('main.login') }}" class="deck-action-btn">Sign In</a>
            <form method="POST" action="." class="delete-deck-form" style="margin: 0;">
                {{ form.hidden_tag() if form }}
            </form>
        </div>
    </div>
</div>



{% endblock %}