{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post" novalidate class="space-y-4">
        {{ form.hidden_tag() }}
        <div class="field">
            <p>{{ form.username.label }}</p>
            <p>{{ form.username(size=32, class="input-text") }}</p>
            <p>{% for error in form.username.errors %}
            <span class="text-red-500 text-xs">[{{ error }}]</span>
            {% endfor %}</p>
        </div>

        <div class="field">
            <p>{{ form.password.label }}</p>
            <p>{{ form.password(size=32, class="input-text") }}</p>
            <p>{% for error in form.password.errors %}
            <span class="text-red-500 text-xs">[{{ error }}]</span>
            {% endfor %}</p>
        </div>
        <p>{{ form.remember_me() }} {{ form.remember_me.label(class="ml-2 text-sm") }}</p>
        <p>{{ form.submit(class = "form.submit") }}</p>
    </form>
    <p class="mt-4">New User? <a href="{{ url_for('main.register') }}" class="text-blue-500 hover:underline">Click to Register!</a></p>
{% endblock %}
