{% extends "base.html" %}

{% block content %}
    {% include 'components/sidebar.html' %}
    <h1 class="text-3xl font-bold">{{ deck.title }}</h1>
    <a href="{{ url_for('main.dashboard') }}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
        Back to Dashboard
    </a>

    {% if cards %}
    <div class="flashcard-grid">
        {% for card in cards %}
        <div class="flashcard" onclick="toggleFlashcard(this)">
            <div class="flashcard-inner">
                <div class="flashcard-front">
                    <h3>Question:</h3>
                    <p>{{ card.question }}</p>
                </div>
                <div class="flashcard-back">
                    <h3>Answer:</h3>
                    <p>{{ card.answer }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="bg-white p-6 rounded shadow text-center">
        <h2 class="text-xl font-semibold mb-2">No Cards in this Deck!</h2>
        <p class="text-gray-600">This deck currently doesn't have any flashcards.</p>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/flashcard.js') }}"></script>
{% endblock %}