/* Space Theme Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(109, 109, 153, 0.9) !important; /* Semi-transparent dark blue */
    background-size: cover; /* Cover the entire viewport */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Make the background fixed during scroll */
    color: #e0e0e0; /* Light gray text for contrast - adjust if needed based on new bg */
}

h1 {
    font-size: 2.5rem;
    color: #ffffff; /* White for headings */
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 1200px;
    min-height: fit-content;
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(26, 26, 58, 0.7); /* Semi-transparent dark blue */
    border-radius: 8px;
}

a {
    color: #b2d9e6; /* Bright blue for links */
    text-decoration: none;
}

nav {
    display: flex;
    padding: 1rem;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.main-logo {
    height: auto;
    font-size: 30pt;
    font-weight: bold;
}

.nav-links {
    font-size: 20pt;
}

.nav-item {
    margin-left: 20px;
    color: #b2d9e6; /* Bright blue for links */
}
.nav-item:hover {
    text-decoration: none;
    color: #ffffff; /* White on hover */
    transition: all 0.2s ease;
    background-color: #b2d9e6;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-button {
    display: flex;
    justify-content: center;
    font-size: 25pt;

    max-width: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgba(26, 26, 58, 0.7); /* Semi-transparent dark blue */
    border-radius: 8px;
}
.container-button:hover {
    display: flex;
    justify-content: center;
    font-size: 25pt;

    max-width: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgba(108, 108, 190, 0.7); /* Semi-transparent dark blue */
    border-radius: 8px;
    color: #ffffff; /* White on hover */
    transition: all 0.2s ease;
}